<footer>
  <div class="container">
    <div class="top-footer row">
      <div class="col-md-5 col-sm-7 col-xs-12 footer-logo">
        <a href="#"><img src="assets/images/them-logo/them-main-logo-2.png" alt="Logo"></a>
        <p><span class="p-color">goDog</span> was established in 2017 by Pet business veterans, Rod Davies
          and Matthew Levington, the journey began when founders Matthew Levington and Rod Davies, met up
          in 2017 over a beer</p>
        <ul class="icon">
          <li><a href="#" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          <li><a href="#" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>

        <ul class="policy">
          <li><a href="#" class="tran3s">Privacy Policy </a></li>
          <li><a>|</a></li>
          <li><a href="#" class="tran3s">Legal Policy</a></li>
        </ul>
      </div> <!-- /.footer-logo -->

      <div class="col-md-4 col-sm-5 col-xs-12 footer-list">
        <h5>Important Links</h5>

        <ul>
          <li><a href="#" class="tran3s">Support</a></li>
          <li><a href="about-us-v1.html" class="tran3s">About us </a></li>
          <li><a href="project-v1.html" class="tran3s">Project</a></li>
          <li><a href="shop.html" class="tran3s">Shop</a></li>
          <li><a href="#" class="tran3s">Performance</a></li>
          <li><a href="blog-v1.html" class="tran3s">News</a></li>
          <li><a href="#" class="tran3s">Pet Health Food</a></li>
        </ul>
        <ul>
          <li><a href="#" class="tran3s">Pet</a></li>
          <li><a href="#" class="tran3s">Our History</a></li>
          <li><a href="#" class="tran3s">What We Do</a></li>
          <li><a href="#" class="tran3s">Living Areas</a></li>
          <li><a href="#" class="tran3s">Pet Product</a></li>
          <li><a href="contact.html" class="tran3s">Contact us</a></li>
        </ul>
      </div> <!-- /.footer-list -->

      <div class="col-md-3 col-xs-12 footer-news">
        <h5>News Update</h5>

        <ul>
          <li>
            <h6><a href="blog-details.html" class="tran3s">Prefinished Solid Hardwood Flooring</a></h6>
            <span>january 02,2017</span>
          </li>
          <li>
            <h6><a href="blog-details.html" class="tran3s">Latst pet care in summer 12 care them
              well</a></h6>
            <span>january 02,2017</span>
          </li>
        </ul>
      </div> <!-- /.footer-news -->
    </div> <!-- /.top-footer -->
  </div> <!-- /.container -->
  <div id="map" style="display:none"></div>
</footer>
