<footer>
  <div class="container">
    <div class="top-footer row">
      <div class="col-md-5 col-sm-7 col-xs-12 footer-logo">
        <a href="#"><img src="assets/images/them-logo/them-main-logo-2.png" alt="Logo"></a>
        <p><span class="p-color">goDog</span> è una comunità di Pet Lovers, creata appositamente per rispondere
        alle esigenze di questa smart-community</p>



      </div> <!-- /.footer-logo -->

      <div class="col-md-4 col-sm-5 col-xs-12 footer-list">
        <h5>Link Utili</h5>

        <ul>
          <li><a routerLink="amico-smarrito">Il tuo amico smarrito</a></li>
          <li><a routerLink="contatti">Contatti</a></li>
          <li><a routerLink="registrazione">Registrati</a></li>
          <li><a routerLink = "login">Login</a></li>
        </ul>

      </div> <!-- /.footer-list -->


    </div> <!-- /.top-footer -->
  </div> <!-- /.container -->
  <div id="map" style="display:none"></div>
</footer>
