<section class="header-section">


  <!-- Theme Main Menu ____________________________ -->
  <div class="theme-main-menu">
    <div class="container">
      <div class="main-menu clear-fix">

        <div class="search-button-content float-right">
          <div class="search-box tran5s" id="searchWrapper">
            <button id="close-button" class="p-color"><i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <div class="container">
              <img src="assets/images/them-logo/them-main-logo-1.png" alt="Logo">
            </div>
          </div> <!-- /.search-box -->
        </div> <!-- /.right-content -->
        <div class="them-logo float-left"><a href="#"><img src="assets/images/them-logo/them-main-logo-1.png"
                                                           alt="logo"></a></div>

        <!-- Menu -->
        <nav class="navbar">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed tran3s" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only tran3s">Toggle navigation</span>
              <span class="icon-bar tran3s"></span>
              <span class="icon-bar tran3s"></span>
              <span class="icon-bar tran3s"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li routerLinkActive="active current-page-item Active-manu"><a routerLink="">Home</a></li>

              <li *ngIf="isLogged"><a routerLink="inserzioni">Inserzioni</a></li>

              <li><a routerLink="amico-smarrito">Il tuo amico smarrito</a>
                <!--<ul class="sub-menu">-->
                <!--<li><a href="gallery-v3.html" class="tran3s">About Us</a></li>-->
                <!--<li><a href="team.html" class="tran3s">Our Team</a></li>-->
                <!--<li><a href="testimonial.html" class="tran3s">Testimonial</a></li>-->
                <!--<li><a href="faq.html" class="tran3s">Faq</a></li>-->
                <!--<li><a href="404.html" class="tran3s">Error page</a></li>-->
                <!--</ul>-->
              </li>

              <li routerLinkActive="active current-page-item Active-manu"><a routerLink="contatti">Contatti</a></li>
              <li routerLinkActive="active current-page-item Active-manu"><a routerLink="registrazione">Registrati</a></li>
              <li *ngIf="!isLogged" routerLinkActive="active current-page-item Active-manu"><a routerLink = "login">Login</a></li>
              <li *ngIf="isLogged" routerLinkActive="active current-page-item Active-manu"><a routerLink = "logout">Logout</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div> <!-- / menu-skew-div -->
    </div> <!-- /.container main-menu -->
  </div> <!-- /.main-menu -->
</section>
