<div class="container">

    <section >
        <div class="center-block ">
        <div class="span4 mq-box container">
            <div class="price-plan plan-regular text-center text-light text-shadow-dark"><!-- regular plan -->

                <h3 class="plan-title text-light">Utente semplice</h3>
                <div class="col-md-12 col-md-offset-3 text-center">
                    <img src="assets/images/icone/user.svg" style="width: 50%" alt="image">
                </div>

                <ul class="plan-features list-style-none">
                    <li><strong>Up to 5</strong> Documents</li>
                    <li><strong>Up to 3</strong> Reviews</li>
                    <li><strong>5 team</strong> Members</li>
                    <li><strong>Limited</strong> Support</li>
                </ul>
                <a href="#signup" class="btn btn-large btn-inverse">Registrati</a>

            </div><!-- regular plan end -->
        </div>
        <div class="span4 mq-box container"><!-- plan 2 wrap -->
            <div class="price-plan plan-gold text-center text-light text-shadow-dark"><!-- gold plan -->

                <h3 class="plan-title text-light">Servizi</h3>
                <div class="col-md-12 col-md-offset-3 text-center">
                    <img src="assets/images/icone/hotel.svg" style="width: 50%" alt="image">
                </div>
                <ul class="plan-features list-style-none">
                    <li><strong>Unlimited</strong> Documents</li>
                    <li><strong>Unlimited</strong> Reviews</li>
                    <li><strong>Unlimited</strong> Members</li>
                    <li><strong>Unlimited</strong> Support</li>
                </ul>
                <a href="#signup" class="btn btn-large btn-inverse">Registrati</a>

            </div><!-- gold plan end -->
        </div>
        <div class="span4 mq-box container"><!-- plan 3 wrap -->
            <div class="price-plan plan-advanced text-center text-light text-shadow-dark"><!-- advanced plan -->

                <h3 class="plan-title text-light">Veterinario</h3>
                <div class="col-md-12 col-md-offset-3 text-center">
                    <img src="assets/images/icone/veterinary.svg" style="width: 50%"  alt="image">
                </div>
                <ul class="plan-features list-style-none">
                    <li><strong>Up to 15</strong> Documents</li>
                    <li><strong>Up to 10</strong> Reviews</li>
                    <li><strong>25 team</strong> Members</li>
                    <li><strong>Unlimited</strong> Support</li>
                </ul>
                <a href="#signup" class="btn btn-large btn-inverse">Registrati</a>

            </div><!-- advanced plan end -->
        </div>
        </div>
    </section>
</div>
<br>
<br>
<br>
