<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="assets/css/styleprice.css" rel="stylesheet" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- main -->
<div class="main">
    <div class="main-grid">
        <div class="main-grid-pos">
            <p><i class="flaticon-dog-training"></i></p>
        </div>
        <div class="basic">
            <h3>Standard</h3>
            <p>$32/<span>mo</span></p>
        </div>
        <ul>
            <li><a href="#">1 GB Space</a></li>
            <li><a href="#">1 GB Bandwidth</a></li>
            <li><a href="#">10 Portfolio Items</a></li>
            <li><a href="#">Order Now</a></li>
        </ul>
    </div>
    <div class="main-grid">
        <div class="main-grid-pos main-grid-pos1">
            <p>$30</p>
        </div>
        <div class="basic basic1">
            <h3>Best</h3>
            <p>$52/<span>mo</span></p>
        </div>
        <ul>
            <li><a href="#">5 GB Space</a></li>
            <li><a href="#">50 GB Bandwidth</a></li>
            <li><a href="#">70 Portfolio Items</a></li>
            <li><a href="#">10 Video Uploads</a></li>
            <li><a href="#">24/7 Support</a></li>
            <li><a href="#">Order Now</a></li>
        </ul>
    </div>
    <div class="main-grid">
        <div class="main-grid-pos main-grid-pos2">
            <p>$80</p>
        </div>
        <div class="basic basic2">
            <h3>Business</h3>
            <p>$75/<span>mo</span></p>
        </div>
        <ul>
            <li><a href="#">10 GB Space</a></li>
            <li><a href="#">Unlimitted Bandwidth</a></li>
            <li><a href="#">200 Portfolio Items</a></li>
            <li><a href="#">20 Video Uploads</a></li>
            <li><a href="#">Premium Email Support</a></li>
            <li><a href="#">Premium Phone Support</a></li>
            <li><a href="#">24/7 Support</a></li>
            <li><a href="#">Order Now</a></li>
        </ul>
    </div>
    <div class="clear"> </div>
    <div class="copy-right">
        <p>HTML Version by <a href="https://www.designmaz.net">DesignMaz</a></p>
    </div>
</div>
<!-- //main -->
</body>





<!--<section class="contact-us">-->
  <!--<div class="container">-->
    <!--<div class="row">-->

      <!--<div class="col-md-6 col-xs-12">-->
        <!--<div class="contact-form">-->
          <!--<div class="text-center"><h5>Registrati</h5></div>-->
          <!--<form class="form-validation" autocomplete="off">-->
            <!--<input type="text" placeholder="Nome" name="nome">-->
            <!--<input type="text" placeholder="Cognome" name="cognome">-->
            <!--<input type="email" placeholder="Email" name="email">-->
            <!--<input type="password" placeholder="Password" name="password">-->
            <!--<button class="hvr-float-shadow">Effettua il login</button>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
