<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="contact-form">
                    <div class="text-center"><h5>Login</h5></div>
                    <form class="form-validation" autocomplete="off">
                        <input type="email" placeholder="Il tuo indirizzo email *" name="email">
                        <input type="password" placeholder="Password" name="password">
                        <button class="hvr-float-shadow">Effettua il login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
