<body>

<div class="main-page-wrapper">
  <!-- Theme Inner Banner ____________________________ -->
  <section class="">
    <div class="them-inner-banner">
      <div class="inner-banner-opact">
        <div class="container">
          <div class="inner-banner-title">
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="">
                  <h1>Ricerca tra i nostri servizi quello che fa al caso tuo!</h1>
                  <p>Offriamo servizi di pet sitting e veterinari, ricerca hotel, ristoranti e lidi dove portare in vacanza il tuo amico</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<br>
    <div class="row col-md-offset-4">
        <div class="container col-md-4" id="searchWrapper1">
            <form action="#">
                <input type="text" placeholder="Cerca per Città...">
                <button class="p-bg-color"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <br>
            <form action="#">
                <input type="text" placeholder="Cerca per Provincia...">
                <button class="p-bg-color"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <br>
            <form action="#">
                <input type="text" placeholder="Cerca per Regione...">
                <button class="p-bg-color"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
    </div> <!-- /.search-box -->
    </div>


  <!-- Gallery V-2 ____________________________ -->
  <section class="gallery-v-two">
    <div class="container">
      <div class="gallery-v-two-wrapper">

        <div class="isotop_menu">
          <ul class="isotop-menu-wrapper text-center">
            <li class="is-checked tran3s" data-filter="*">Tutti i servizi</li>
            <li class="tran3s" data-filter=".SmallPets">Hotel</li>
            <li class="tran3s" data-filter=".Adoption">Ristoranti</li>
            <li class="tran3s" data-filter=".Adoption">Lidi</li>
            <li class="tran3s" data-filter=".PetHealth">Pet Sitter</li>
            <li class="tran3s" data-filter=".AnimalCare">Veterinari</li>
          </ul>
        </div> <!-- End of .mixitUp_menu -->

        <div class="gallery_item_wrapper row" id="isotop-gallery-wrapper">
          <div class="grid-sizer"></div>

          <!-- Single Item -->
          <div class="isotop-item SmallPets AnimalCare">
            <div class="gallery-tiem-wrapper">
              <img src="assets/images/gallery/img-10.jpg" alt="image">
              <div class="gallery-item-opact">
                <h5>PET ADOPTION</h5>
                <div>
                  <a href="assets/images/gallery/img-10.jpg" class="fancybox"><i class="flaticon-search"></i></a>
                  <a href="assets/images/gallery/img-10.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
                </div>
              </div>
            </div>
          </div> <!-- End of .isotop-item -->
          <!-- Single Item -->
          <div class="isotop-item SmallPets PetHealth AnimalCare">
            <div class="gallery-tiem-wrapper">
              <img src="assets/images/gallery/img-11.jpg" alt="image">
              <div class="gallery-item-opact">
                <h5>PET ADOPTION</h5>
                <div>
                  <a href="assets/images/gallery/img-11.jpg" class="fancybox"><i class="flaticon-search"></i></a>
                  <a href="assets/images/gallery/img-11.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
                </div>
              </div>
            </div>
          </div> <!-- End of .isotop-item -->
          <!-- Single Item -->
          <div class="isotop-item SmallPets Adoption PetHealth">
            <div class="gallery-tiem-wrapper">
              <img src="assets/images/gallery/img-12.jpg" alt="image">
              <div class="gallery-item-opact">
                <h5>PET ADOPTION</h5>
                <div>
                  <a href="assets/images/gallery/img-12.jpg" class="fancybox"><i class="flaticon-search"></i></a>
                  <a href="assets/images/gallery/img-12.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
                </div>
              </div>
            </div>
          </div> <!-- End of .isotop-item -->
          <!-- Single Item -->
          <div class="isotop-item Adoption PetHealth">
            <div class="gallery-tiem-wrapper">
              <img src="assets/images/gallery/img-13.jpg" alt="image">
              <div class="gallery-item-opact">
                <h5>PET ADOPTION</h5>
                <div>
                  <a href="assets/images/gallery/img-13.jpg" class="fancybox"><i class="flaticon-search"></i></a>
                  <a href="assets/images/gallery/img-13.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
                </div>
              </div>
            </div>
          </div> <!-- End of .isotop-item -->
          <!-- Single Item -->
          <div class="isotop-item Adoption AnimalCare">
            <div class="gallery-tiem-wrapper">
              <img src="assets/images/gallery/img-14.jpg" alt="image">
              <div class="gallery-item-opact">
                <h5>PET ADOPTION</h5>
                <div>
                  <a href="assets/images/gallery/img-14.jpg" class="fancybox"><i class="flaticon-search"></i></a>
                  <a href="assets/images/gallery/img-14.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
                </div>
              </div>
            </div>
          </div> <!-- End of .isotop-item -->
          <!-- Single Item -->
          <div class="isotop-item SmallPets Adoption">
            <div class="gallery-tiem-wrapper">
              <img src="assets/images/gallery/img-15.jpg" alt="image">
              <div class="gallery-item-opact">
                <h5>PET ADOPTION</h5>
                <div>
                  <a href="assets/images/gallery/img-15.jpg" class="fancybox"><i class="flaticon-search"></i></a>
                  <a href="assets/images/gallery/img-15.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
                </div>
              </div>
            </div>
          </div> <!-- End of .isotop-item -->
        </div> <!-- End of .gallery_item_wrapper -->
      </div> <!-- End of .WORK-item_wrapper -->
    </div>
  </section>

</div> <!-- /.main-page-wrapper -->

</body>