<div class="container">

  <section >
    <div class="center-block ">
      <div class="span4 mq-box container">
        <div class="price-plan plan-regular text-center text-light text-shadow-dark"><!-- regular plan -->

          <h3 class="plan-title text-light">Dog Lover</h3>
          <div class="col-md-12 text-center">
            <h1 style="color:#fff">€ 19.99</h1>
          </div>
          <br>
          <ul class="plan-features list-style-none">
            <li><strong>Pubblicizza</strong> una attività professionale</li>
            <li><strong>Ricevi contatti </strong> da potenziali clienti </li>
            <li>Migliora la tua  <strong>visibilità</strong></li>
          </ul>
          <a [routerLink]="['/registrazione','struttura',1]" class="btn btn-large btn-inverse">Registrati</a>

        </div><!-- regular plan end -->
      </div>
      <div class="span4 mq-box container"><!-- plan 2 wrap -->
        <div class="price-plan plan-gold text-center text-light text-shadow-dark"><!-- gold plan -->

          <h3 class="plan-title text-light">Struttura</h3>
          <div class="col-md-12  text-center">
            <h1 style="color:#fff">€ 39.99</h1>
          </div>
          <ul class="plan-features list-style-none">
            <li><strong>Pubblicizza</strong> tre attività professionale</li>
            <li><strong>Ricevi contatti </strong> da potenziali clienti </li>
            <li>Migliora la tua  <strong>visibilità</strong></li>
          </ul>
          <a [routerLink]="['/registrazione','struttura',2]" class="btn btn-large btn-inverse">Registrati</a>

        </div><!-- gold plan end -->
      </div>
      <div class="span4 mq-box container"><!-- plan 3 wrap -->
        <div class="price-plan plan-advanced text-center text-light text-shadow-dark"><!-- advanced plan -->

          <h3 class="plan-title text-light">Veterinario</h3>
          <div class="col-md-12  text-center">
            <h1 style="color:#fff">€ 49.99</h1>
          </div>
          <ul class="plan-features list-style-none">
            <li><strong>Pubblicizza</strong> illimitate attività professionale</li>
            <li><strong>Ricevi contatti </strong> da potenziali clienti </li>
            <li>Migliora la tua  <strong>visibilità</strong></li>
          </ul>
          <a [routerLink]="['/registrazione','struttura',3]" class="btn btn-large btn-inverse">Registrati</a>

        </div><!-- advanced plan end -->
      </div>
    </div>
  </section>
</div>
<br>
<br>
<br>
