<div class="main-page-wrapper">



  <!-- Theme Main Banner ____________________________ -->
  <section>
    <div id="theme-main-banner">
      <div data-src="assets/images/slider/viaggio.jpg">
        <div class="camera_caption">
          <div class="container text-center">
            <h1 class="wow fadeInUp animated" data-wow-delay="0.2s">Love your Pet, Care Pet</h1>
            <span class="wow fadeInUp animated"
                  data-wow-delay="0.5s"> With over 15  years of Experience </span>
            <p class="wow fadeInUp animated" data-wow-delay="0.8s">Cura per i vostri amici a quattro zampe</p>
          </div> <!-- /.container -->
        </div> <!-- /.camera_caption -->
      </div>
      <div data-src="assets/images/slider/computer.jpg">
        <div class="camera_caption">
          <div class="container text-center">
            <h1 class="wow fadeInUp animated" data-wow-delay="0.2s">Ricerca i migliori servizi</h1>
            <span class="wow fadeInUp animated"
                  data-wow-delay="0.5s"> hotel, ristoranti, parchi, e molto altro </span>
            <p class="wow fadeInUp animated" data-wow-delay="0.8s">Pet Care services and best quality Pet
              for your Home</p>
            <a href="#" class="tran3s wow fadeInLeft animated banner-button-left" data-wow-delay="1s">Shop
              Now</a>
            <a href="#" class="tran3s wow fadeInRight animated banner-button-right" data-wow-delay="1s">Get
              Pet</a>
          </div> <!-- /.container -->
        </div> <!-- /.camera_caption -->
      </div>
      <div data-src="assets/images/slider/smarrito.jpg">
        <div class="camera_caption">
          <div class="container text-center">
            <h1 class="wow fadeInUp animated" data-wow-delay="0.2s">Trova il tuo amico</h1>
            <span class="wow fadeInUp animated"
                  data-wow-delay="0.5s">Carica una foto e la community ti aiuterà a ritrovarlo</span>
            <p class="wow fadeInUp animated" data-wow-delay="0.8s">Servizi di ricerca per il tuo animale smarrito</p>
          </div> <!-- /.container -->
        </div> <!-- /.camera_caption -->
      </div>
    </div> <!-- /#theme-main-banner -->
  </section>

  <!-- banner-bottom-section ____________________________ -->
  <section class="banner-bottom-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="banner-bottom-item">
            <div class="banner-bottom-contante text-center">
              <i class="flaticon-egyptian-cat"></i>
              <h6><a href="#">Stai comodo in vacanza</a></h6>
              <p>Cerca hotel, ristoranti e parchi per trascorrere una vacanza con il tuo amico</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="banner-bottom-item">
            <div class="banner-bottom-contante text-center">
              <i class="flaticon-dog-training"></i>
              <h6><a href="#">I migliori pet service</a></h6>
              <p>Tutti i pet sitter a disposizione per te</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="banner-bottom-item">
            <div class="banner-bottom-contante text-center">
              <i class="flaticon-pawprint"></i>
              <h6><a href="#">A disposizione in caso di emergenza</a></h6>
              <p>Trova il veterinario più vicino a te</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our pet health ____________________________ -->
  <section class="our-pet-health-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="our-work-process">
            <h4>Un sistema di ricerca rapido per ogni evenienza</h4>
            <p>Offriamo servizi di prenotazione e di cura del vostro amico a quattro zampe! Informati sulle migliori offerte,
            prenota direttamente e risparmia.
            Ricerca i migliori luoghi dove trascorrere tempo insieme al vostro pet in tranquillità: le nostre mappe indicano
            i parchi disponibili che potrete visitare insieme e le strutture che vi accoglieranno al meglio.
            </p>
          </div>
        </div>

        <section class="we-are-my-pet-section">
        <div class="col-md-6 col-xs-12">
          <div class="we-are-my-pet-img">
            <img src="assets/images/home/img-1.jpg" alt="image">
            <div></div>
          </div>
        </div>
        </section>

      </div>
    </div>
  </section>


    <br>
    <br>
    <br>

  <!-- Company History _________________________________ -->
  <section class="company-history-section">
    <div class="company-history-shape-img-top"><img src="assets/images/shape-1.png" alt="shape-img"></div>
    <div class="company-history-containt-opact">
      <div class="container">
            <h2 style="color: #ffffff;">Esplora oltre 100.000 posti dove stare, giocare e mangiare con il tuo amico a quattro zampe.</h2>
      </div>
    </div>
  </section>


  <!-- Our pet health ____________________________ -->
  <section class="our-pet-health-section">
    <div class="row">
      <div class="container">

          <div class="col-md-6 col-xs-12">
            <div class="our-work-process">
              <h4>Hai un'attività pet friendly?</h4>
              <p>Richiedi una consulenza, saremo pronti ad aiutarti nel pubblicizzarla e a crescere grazie alle recensioni
                degli utenti.
                Fatti conoscere! Inserisci inserzioni per lavori di pet sitting e veterinario.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="doing-the-right-thing">

                  <div class="inspiration-tab">
                    <div class="inspiration-panel">
                      <div class="panel-group theme-accordion" id="accordion">
                        <div class="panel">
                          <div class="panel-heading active-panel">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Come riuscirete a farmi conoscere dagli utenti?</a>
                            </h6>
                          </div>
                          <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                              <p>Attraverso il nostro sistema verrete direttamente messi in contatto con gli utenti
                                del nostro sito. </p>
                            </div>
                          </div>
                      </div> <!-- /panel 1 -->
                      <div class="panel">
                        <div class="panel-heading">
                          <h6 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                              Esiste un limite per le mie attività professionali inserite?</a>
                          </h6>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                          <div class="panel-body">
                            <p>Si. Ad eccezione del piano da 49.99 €, si è limitati ad un massimo di 3 inserzioni</p>
                          </div>
                        </div>
                      </div> <!-- /panel 2 -->
                      <div class="panel">
                        <div class="panel-heading">
                          <h6 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                              Devo pagare per candidarmi come dog sitter?</a>
                          </h6>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                          <div class="panel-body">
                            <p> Si. è previsto un piccolo pagamento di 5 € per sottoporre il tuo preventivo.
                              <br> Tuttavia, limitiamo il numero massimo di preventivi per agevolarti nella tua attività
                            </p>
                          </div>
                        </div>
                      </div> <!-- /panel 3 -->
                    </div> <!-- end #accordion -->
                  </div> <!-- End of .inspiration-panel -->
                </div>
              </div>
          </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>



</div> <!-- /.main-page-wrapper -->
