<!-- Theme Inner Banner ____________________________ -->
<section class="">
  <div class="them-inner-banner">
    <div class="inner-banner-opact">
      <div class="container">
        <div class="inner-banner-title">
          <div class="row">
            <div class="col-sm-8 col-xs-12">
              <div class="">
                <h1>Contattaci</h1>
                <p>Per ogni dubbio o chiarimento non esitare a contattarci!</p>
              </div>
          <img src="assets/images/about/dog-1.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="inner-banner-bottom">
    <div class="container">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><span>-</span></li>
        <li><a href="#">Contatti</a></li>
      </ul>
    </div>
  </div>
</section>

<!-- contact-us ____________________________ -->
<section class="contact-us">
  <div class="container">
    <div class="services-details-help">
      <div class="">
        <h3>Chiama 1234567890 per scoprire come possiamo offrirvi il miglior servizio di pet care</h3>
        <p>Oppure iscriviti iscriviti al sito per usufruirne</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12 float-right">
        <div class="get-in-touch-with-us">
          <h5>Contatti</h5>
          <ul>
            <li>
              <img src="assets/images/them-logo/icon-1.png" alt="icon">
              <h6>Dove siamo</h6>
              <span>Via Brecce Bianche, 12</span>
              <span>Ancona, AN</span>
            </li>
            <li>
              <img src="assets/images/them-logo/icon-2.png" alt="icon">
              <h6>Come contattarci</h6>
              <span>Tel: 1234567890</span>
              <span>Email:  help@goDog.com</span>
            </li>
            <li>
              <img src="assets/images/them-logo/icon-3.png" alt="icon">
              <h6>Orari di call center</h6>
              <span>Dal Lunedì al Sabato: dalle 09.00 alle 20.00</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="contact-form">
          <h5>Contattaci via email</h5>
          <form action="http://unifytheme.com/html/my-pet/inc/sendemail.php" class="form-validation" autocomplete="off">
            <input type="text" placeholder="Il tuo nome *" name="name">
            <input type="email" placeholder="Il tuo indirizzo email *" name="email">
            <input type="text" placeholder="Oggetto" name="sub">
            <textarea placeholder="Il tuo messaggio *" name="message"></textarea>
            <button class="hvr-float-shadow">Invia</button>
          </form>
          <!-- Contact Form Validation Markup -->
          <!-- Contact alert -->
          <div class="alert-wrapper" id="alert-success">
            <div id="success">
              <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
              <div class="wrapper">
                <p>Il tuo messaggio è stato inviato correttamente!</p>
              </div>
            </div>
          </div> <!-- End of .alert_wrapper -->
          <div class="alert-wrapper" id="alert-error">
            <div id="error">
              <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
              <div class="wrapper">
                <p>Ci scusiamo! Qualcosa è andato storto</p>
              </div>
            </div>
          </div> <!-- End of .alert_wrapper -->
        </div>
      </div>
    </div>
  </div>
  <div class="contact-map">
    <div class="container icon-img"></div>
    <!-- Google Map _______________________ -->
    <div id="map"></div>
  </div>
</section>